body{
    margin-left: 5px;
    
    padding: 0;

}


.head{
    background-image: linear-gradient(to right, red,green,yellow);
    text-align: center;
    border-radius: 5px;
    margin-top: -19px;
}

.head1{
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
    
}

.heada{
    text-decoration: underline;
}



.heada:hover {
    /* border: 1px solid skyblue; */
    background-color: skyblue;
    
}


.list{
    background-color: #A5D3E4;
    border: 3px solid #A51C1B;
    padding: 0px 0px 5px 360px;
    height: 70px;
    width: 600px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}


.lbox{
    background-color: #71F7CF;
    border: 3px solid #85766D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 125px;
}

.lboxp{
    background-color: #63FBFD;
    border: 2px solid #319F6B;
    height: 60px;
    width: 440px;
    border-radius: 7px;
}


.hr1{
    margin-top: -2px;
}

.head2{
    background-image: linear-gradient(to right, red,yellow,red);
    height: 40px;
    text-align: center;
    text-decoration: underline #D89528 2px;
    margin-bottom: 10px;
}

.pbox{
    border: 2px solid #2E7E4B;
    height: 200px;
    background-image: radial-gradient(blue, skyblue, green);
    display: flex;
    justify-content: space-evenly;
    padding-top: 110px;
    padding-right: 100px;
    margin-bottom: 25px;
    
}


.cbox{
    border: 2px solid red;
    color: #893C00;
    background-color: #FEF848;
    text-decoration: underline #893C00 2px;
    height: 100px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}

.box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    border: 1px solid #565353;
    margin-bottom: 30px;
    
    
}

.box1{
    background-color: #E83948;
    color: white;
    grid-area: 1/1/1/5;
    text-align: center;
    height: 45px;
    font-size: x-large;

    
}

.box2{
    background-color: #58D16A;
    color: white;
    text-align: center;
    font-size: xx-large;
    height: 75px;
    padding: 0px 70px 0px 40px;
    width: 410px;

}

.box3{
    background-color: #2584F7;
    color: white;
    height: 75px;
    width: 410px;
    text-align: start;
    font-size: xx-large;
    padding-right: 30px;
    
}

.box4{
    background-color: #4948EA;
    color: white;
    height: 75px;
    width: 210px;
    text-align: start;
    font-size: larger;
    padding-right: 240px;
}

.box5{
    background-color: #292E38;
    color: white;
    grid-area: 2/4/4/5;
    font-size: small;
    height: 205px;
    list-style-position: inside;

    
}

.box6{
    background-color: #F29937;
    color: white;
    grid-area: 3/1/4/4;
    height: 120px;
    font-size: larger;
}

.box7{
    background-color: #51CCCC;
    color: #000809;
    grid-area: 4/1/5/5;
    text-align: center;
    font-size: larger;
    height: 18px;
}

ol, li {
    margin: 0;
    padding: 0;
    }


.hr2{
    margin-top: -2px;
}